#signIcon,
#line,
#signIn{
    display: none;
}
/*  MARGIN FOR BODY */
.MainBodySection {
    margin-left: 7%;
    margin-right: 7%;
}



/*------------------------------  FORM SECTION-----------------------------*/

/*  FORM DIV  */

.ConnectForm {
    display: table;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#Connect_Form {
    font-size: 3vw;
    color: #4e0475;
    line-height: 110%;
    font-weight: bold;
}

label {
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
}

#SuccessMessageDiv {
    display: none;
    width: 50%;
    margin: auto;
}

#SuccessMessage {
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
    font-size: 3vw;
    color: #4e0475;
    line-height: 110%;
    margin: 0;
}


/*  FORM INPUT SECTION  */

.connect_input {
    width: 100%;
    height: 3vw;
    border: 0;
    font-family: 'Lato', sans-serif;
    padding-left: 4%;
    color: grey;
    font-size: 1vw;
}


/*  FORM LEFTSIDE SECTION  */

#FormLeftSide {
    display: table-cell;
    width: 45%;
    float: left;
    font-size: 2.5vw;
}


/*  FORM RIGHTSIDE SECTION  */

#FormRightSide {
    display: table-cell;
    width: 45%;
    float: right;
    font-size: 2.5vw;
}


/*  FORM TEXTAREA SECTION  */

.message-textarea {
    border: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    padding-left: 2%;
    color: grey;
    margin-top: 3%
}


/*  FORM SUBMIT */

#ConnectSubmitButton {
    width: 100%;
    cursor: pointer;
}
#ConnectSubmitButtonDiv{
    display: inline-table;
    width: 12%;
    float: right;
}

#male,
#female,
#primaryCareer_Yes,
#primaryCareer_No{
    display: inline-table;
    width: 6%;
    cursor: pointer;
}

.mandatory {
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
    color: #4e0475;
    font-size: 2.5vw;
    text-align: right;
}

.detailsType {
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
    color: #4e0475;
    font-size: 3vw;
}


.dropdown {
	width: 32vw;
    height: 3vw;
	background-image: url(../images/category_Search.png);
	background-repeat: no-repeat;
	display: inline-table;
	background-position:center;
	background-size: 102%;
/*	padding: .5% 0% .5% 0%;*/

    
}

/*----CATEGORY ICON TEXT (GRID & LIST VIEW) ----*/

.dropdown_text {
	vertical-align: middle;
	font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
	font-size: 2.2vw;
	width: 93%;
	margin-left: 5%;
	background-color: transparent;
	border: none;
    text-align: center;
    margin-top: 3%
    
}

.error {
    font-family: 'Areal';
    color: red;
    text-align: right;
    font-size: 1.1vw;
    line-height: 90%;
    font-weight: normal;
    margin-top: 1%;
}
/*  CSS FOR MOBILE DEVICE  */

@media (max-width: 736px) {
    
    .detailsType{
    font-size: 5vw    
    }
    
    .dropdown {
        width: 105%;
        margin-bottom: 5%;
        margin-top: 2%;
    }
    
    .dropdown_text{
        font-size: 4vw;
    }
    
    .connect_input{
        height: 6vw;
    }
    /*  FORM LEFTSIDE  */
    #FormLeftSide {
        width: 100%;
        font-size: 4vw;
    }
    /*  FORM RIGHTSIDE  */
    #FormRightSide {
        width: 100%;
        font-size: 4vw;
    }
    /*  FORM INPUT SECTION  */
    input {
        width: 100%;
        height: 5vw;
        margin-top: 2%;
        margin-bottom: 2%;
        
    }
    /*  FORM DIV SECTION  */
    #Connect_Form {
        font-size: 3.2vw;
    }
    
    .connect_input{
        font-size: 2.5vw;
    }
    /*  FORM INPUT TEXTAREA SECTION  */
    .message-textarea {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2vw;
    }
    .error {
        font-size: 2.5vw;
    }
    
    #ConnectSubmitButtonDiv{
        width: 20%
        }
}